* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202022;
  color: #eeeeee;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 40px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.menu {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.menu li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}